body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/* .container {
   margin: 30px;
   border: 1px solid steelblue;
  padding: 30px;
 } */

.task {
  background-color: rgb(172, 173, 190);
  padding: 5px;
  margin: 2px;
}
.task div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .form-control {
  margin: 20px 0;
  display: flex;
} */
.form-control label {
  margin-right: 10px;
}
.nav-list a {
  margin: 5px;
}
/* .nav-list {
  display: flex;
  flex-direction: column;
 } */
li {
  list-style-type: none;
}
 /* h1:focus
 {
  outline: 1px dashed blue;
 } */
 
.menu-icon {
  position: absolute;
  right:50px;
}

@media screen and (min-width: 420px) {
  /* .nav-list {
    flex-direction: row;
    justify-content: flex-end;
  } */

  .menu-icon {
    display: none;
  }
}
