body {

    background-color: rgb(	231,	225,	214);
    font-family: roboto;
}


header { 
    text-align: center;
    
    border-bottom: 2px dotted darkslateblue;
    padding-bottom: 5px;
}

h1 {

    color:	#1050aa;
    font-family:	Georgia, 'Times New Roman', Times, serif;
    	font-size:	2.2em	;
}

#job-title {
    font-weight: bold;

}

.experience, .education {
border: 2px dashed darkgoldenrod ;
margin:  10px 0 10px;


}


  a[href*="github"]:hover {
    color: crimson;
    
  }

  a[href*="github"]::after {
    content: url(GitHub-Mark-32px.png);
    /* background-image: url(GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    
    width: 32px;
    height: 320px; */

    
  }

  h2::first-letter {

    font-size:  2rem;
  }